<%tnow= Time.zone.at(Time.new())%>
<p>This email is to inform you that your subscription has been canceled on <%= tnow.strftime("%B %d %Y") %>.</p>

<p>
  <strong>Your subscription details:</strong><br />
  Subscription ID: <%= subscription.number %><br />
  Subscribed product: <%= subscription.variant.product.name %><br />
  Cancellation Reason: <%= subscription.cancellation_reasons %><br />
</p>

<p>
We thank you for your past orders.
</p>
