<span class="line-item-description" data-hook="line_item_description">
        <%= line_item_description_text(line_item.description) %>
  <div id="og-div_<%= line_item.variant.product.id.to_s %>"></div>
      </span>