<% content_for :page_title do %>
  Subscriptions
<% end %>

<% if @subscriptions.present? %>
  <div id="cart-detail" class="subscription">
    <%= render partial: 'spree/subscriptions/subscription', collection: @subscriptions %>

  </div>

<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Subscription)) %>
  </div>
<% end %>
