<td class="cart-item-delete" data-hook="cart_item_delete">
  <%= link_to content_tag(:span, '', class: 'box'), '#', :og_id => "remove_#{line_item.variant.product.id.to_s}", class: 'delete', id: "delete_#{dom_id(line_item)}" %>
</td>